<head>
    <link href='css/expenses.css' rel="stylesheet">
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <h1> Enter the transactions </h1>
        <p> <span>From -> </span> <span> amount </span> <span> -> to</span> </p>
        <form id='transaction-container' class='transaction-container' action="/expenses" method="POST">
            <div>

                <select name="from" id="from">
                    <% data.forEach(function(d){ %>
                        <option>
                            <%= d %>
                        </option>
                        <% }); %>

                </select>

                <input type="number" name='value' id='value'>


                <select name="to" id="to">
                    <% data.forEach(function(d){ %>
                        <option>
                            <%= d %>
                        </option>
                        <% }); %>

                </select>
            </div>
            <button type="button" class="add-button" id='add-transaction'> Add another transaction </button>

        </form>
        <button class="submit" form="transaction-container" type="submit">Submit</button>

    </main>

    <footer class='footer text-center'>
        <%- include('partials/footer') %>
    </footer>

    <script>
        const addTransaction = document.getElementById('add-transaction');
        const transactionContainer = document.getElementById('transaction-container');
        addTransaction.addEventListener('click', () => {
            // console.log(data);
            const node = document.createElement('div')
            //node.setAttribute('name', `person${count++}`)
            node.innerHTML = `<select name="from" id="from">
            <% data.forEach(function(d){ %>
                <option>
                    <%= d %>
                </option>
                <% }); %>

        </select>

        <input type="number" name='value' id='value'>


        <select name="to" id="to">
            <% data.forEach(function(d){ %>
                <option>
                    <%= d %>
                </option>
                <% }); %>

        </select>`
            transactionContainer.appendChild(node);
            //     transactionContainer.innerHTML = transactionContainer.innerHTML + `<div> <select name="from" id="from">
            //     <% data.forEach(function(d){ %>
            //         <option>
            //             <%= d %>
            //         </option>
            //         <% }); %>

            // </select>

            // <input type="number" name='value' id='value'>


            // <select name="to" id="to">
            //     <% data.forEach(function(d){ %>
            //         <option>
            //             <%= d %>
            //         </option>
            //         <% }); %>

            // </select> </div>`;
        })
    </script>
</body>