<html>

<head>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <link rel="stylesheet" href="css/network.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <h1>Network<h1>
                <div class="network-container">
                    <div id="graph-container" class="graph-container"></div>
                    <div id="graph-container-second" class="graph-container"></div>
                </div>
    </main>



    <script>


        const node = '<%-JSON.stringify(nodes)%>';
        const nodes = JSON.parse(node);

        //  console.log(nodes) //

        const edge = '<%-JSON.stringify(edges)%>';
        const edges = JSON.parse(edge);
        // console.log(edges);

        const new_node = '<%-JSON.stringify(new_nodes)%>';
        const new_nodes = JSON.parse(new_node);
        //console.log(new_nodes)

        const new_edge = '<%-JSON.stringify(new_edges)%>';
        const new_edges = JSON.parse(new_edge);
       // console.log(new_edges);

    </script>
    <script src="js/network.js"></script>
</body>

</html>